h1 {
    color: red;
    font-size: 18px;
}
body {
    background: white;
    margin: 0;
}
header {
    background: rgb(119, 224, 193);
}
nav {
    float: right;
    background-color: rgb(119, 224, 193);
}
nav li {
    display: inline-block;
    margin: 0, 35px;
    padding-top: 25px;
}
nav a {
    color: rgb(65, 65, 65)
    font-size: 14px;
}
nav a:hover {
    color: black;
}